<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="O mundo do ROM Hacking e tradução de jogos com Taihen's Hextinkers! Confira projetos, tutoriais e ferramentas de tradução de ROMs.">
    <meta name="google-site-verification" content="T8jcyQMr6Fm5S1vlEoMAY30kz5S071VPh2Krrxwol-o" />
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{site.url}}" />
	<meta property="og:image" content="{{site.url}}/img/header.png" />
	<meta property="og:site_name" content="{{ site.title }}" />
	<meta property="og:locale" content="pt_BR" />		
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "{{site.url}}/assets/css/main.css" | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.url}}/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.url}}/img/favicon-16x16.png">
    <link rel="manifest" href="{{site.url}}/site.webmanifest">	
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZNMFHKWLG3"></script>
    <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
    
          gtag('config', 'G-ZNMFHKWLG3');
        </script>
    </head>