<!DOCTYPE html>
<html lang="{{ site.lang | default: "pt-BR" }}">
  {%- include header.html -%}
<body>
<div class="global-container">
  <div class="header-container" id="top"> <a href="{{site.url}}"><img src="{{site.url}}/img/header_2024.png" alt="Taihen's Hextinkers - ROM hacking e tradução de jogos" class="responsive-header-img"></a> </div>
  <div class="menu-container">
<input type="checkbox" id="menu-toggle" class="menu-toggle" />
    <label for="menu-toggle" class="menu-toggle-btn">Menu</label>
    <ul class="horizontal-menu">
      <li><a href="{{site.url}}">Home</a></li>
      <li><a href="{{site.url}}/traducoes">Traduções</a></li>
      <li><a href="{{site.url}}/tutoriais">Tutoriais</a></li>
      <li><a href="{{site.url}}/ferramentas">Ferramentas</a></li>
      <li><a href="{{site.url}}/links">Links</a></li>
      <li><a href="{{site.url}}/sobre">Sobre</a></li>
	  <li><a href="https://discord.gg/5x7KZEqGfC" target="_blank">Discord</a></li>
    </ul>
  </div>
  <div class="content-container">
    {{ content }}
  </div>
  {%- include footer.html -%}
</div>
</body>
</html>
