<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {%- include header.html -%}
<body>
<div class="global-container">
  <div class="header-container" id="top"> <a href="index.html"><img src="{{ "img/header.png" | relative_url }}" alt="Taihen's Hextinkers - ROM hacking e tradução de jogos" class="responsive-header-img"></a> </div>
  <div class="menu-container">
<input type="checkbox" id="menu-toggle" class="menu-toggle" />
    <label for="menu-toggle" class="menu-toggle-btn">Menu</label>
    <ul class="horizontal-menu">
      <li><a href="/index">Home</a></li>
      <li><a href="/traducoes">Traduções</a></li>
      <li><a href="/tutoriais">Tutoriais</a></li>
      <li><a href="/ferramentas">Ferramentas</a></li>
      <li><a href="/links">Links</a></li>
      <li><a href="/sobre">Sobre</a></li>
      <li><a href="/index.html#contato">Contato</a></li>		
    </ul>
  </div>
  <div class="content-container">
    {{ content }}
  </div>
  {%- include footer.html -%}
</div>
</body>
</html>
