---
layout: base
---

{{ content }}

<div class="news">

{% for post in site.posts limit: 25 %}
<article>
  <h2>
    <a href="{{site.url}}{{ post.url }}">
      <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date| date: "%d/%m/%Y" }}</time> - {{ post.title }}
    </a>
  </h2>
  {{ post.content }}
</article>
<hr>
{% endfor %}

<a href="/arquivo"><p style="text-align: center">Acesse aqui as notícias anteriores</p></a>

</div>

<a href="#top"><img src="{{site.url}}/img/misc/gif_torch.gif" alt="" class="centered"/></a>
<p style="text-align: center">Clique na tocha para voltar ao topo da página</p>